/* all */

html {
  font-family: 'Kosugi Maru', sans-serif;
}

/* allHeader */

header {
  background-color: rgba(255, 248, 189, 1);
}

.logoImg {
  max-height: 100px;
}

/* allmain */

main {
  height: 28rem;
}

/* startScreen */

.startImg {
  width: 20%;
}

.startBtn, .restartBtn {
  background-color: rgba(193, 255, 248, 1);
  position: relative;
  z-index: 1;
  display: inline-block;
  transition: .3s;
}

.startBtn::before,
.restartBtn::before {
  content: "";
  width: 90%;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 5%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  z-index: -1;
  opacity: 0;
  transition: .3s;
}

.startBtn:hover,
.restartBtn:hover {
  transform: translateY(-7px);
} 

.startBtn:hover::before,
.restartBtn:hover::before {
  transform: translateY(7px);
  opacity: 1;
}

/* gameScreen */

#gameScreen button {
  width: 30%;
  background-color: rgba(193, 255, 248, 1);
  transition: 1.0s;
}

#gameScreen button:hover {
  background-color: aqua;
}

/* allfooter */

footer {
  background-color: rgba(255, 248, 189, 1);
}

.endList {
  list-style: none;
}